<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar" class="d-flex flex-column justify-content-around align-items-center">
        <h6><a routerLink="/">Logo</a></h6>
        <div>
            <div *ngFor="let item of icons" class="py-3">
                <a [routerLink]="item.url" class="p-2" routerLinkActive="bg-light">
                    <img class="img-fluid circle rounded pointer" [src]="item.title">
                </a>
            </div>
        </div>
        <p class="language-content">{{language | titlecase}}</p>
    </nav>
    <!-- Page Content -->
    <div id="content" class="container">
        <!--cards on top-->
        <div class="d-flex justify-content-between my-3 flex-sm-column flex-lg-row">
            <div *ngFor="let item of header_cards" class="d-flex flex-column justify-content-between align-items-center rounded border p-4 py-2 my-sm-2">
                <h6>{{item.title | titlecase}}</h6>
                <p class="language-content">{{item.value}}</p>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>