<div class="d-flex justify-content-between mb-3 flex-sm-column flex-lg-row">
    <div *ngFor="let item of header_cards" (click)="card_navigator(item.title)" class="d-flex flex-column justify-content-between align-items-center rounded-lg p-4 py-2 my-sm-2 pointer" [class.shadow]="item.active" [style.background-color]="item.background_color">
        <h6 class="pt-3">{{item.title | titlecase}}</h6>
        <p class="small-font-size">{{item.value}}</p>
    </div>
</div>

<div class="bg-white rounded-lg row py-3">
    <!--map view-->
    <div class="col-sm-12 col-md-7">
        <div class="col-sm-12">
            <div class="row">
                <h6 class="col-sm-6">{{display | titlecase}} COVID-19 Cases</h6>
                <div class="col-sm-6">
                </div>
            </div>
        </div>
        <div class="col-sm-12 mt-3">
            <img src="/assets/world.svg" alt="map image" class="img-fluid rounded" />
        </div>
    </div>
    <!-- side list for countries-->
    <div class="col-sm-12 col-md-5">
        <h6 class="col-sm-12">Top Countries</h6>
        <div class="pr-3 mt-4">
            <div class="border px-3 py-2 row mb-2 rounded-lg" *ngFor="let item of country_list">
                <div class="col-sm-2 border rounded-circle p-2">
                    <div class="rounded-circle p-3" [style.background-color]="style_color">{{item.stats}}</div>
                </div>
                <div class="col-sm-10 pt-3 pb-0">
                    <strong>{{item.title | titlecase}}</strong>
                    <img class="pl-2 transform-arrow" style="transform: rotate(-90deg)" src="/assets/icons/arrow.svg" />
                    <p class="small-font-size">{{display | titlecase}} - {{item.active_cases}}</p>
                </div>
            </div>
        </div>
    </div>
</div>