/* You can add global styles to this file, and also import other style files */

@import url("./assets/mdb.min.css");
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #f5f5f5;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.pointer {
    cursor: pointer;
}

.small-font-size {
    font-size: 12px;
}

.btn-link {
    color: #5b3e80;
}

.btn-link:hover {
    color: #ffffff;
    background-color: #5b3e80;
}

.btn-primary,
.btn-primary:hover {
    background-color: #5b3e80;
    color: #fff;
}

strong {
    color: #724a96
}


/*
    sidebad styles here!
*/

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}